* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}

nav {
  background-color: #050605;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.navleft:hover > .border {
  background-color: white;
}

.navleft > img {
    max-width: 151px;
    height: 30px;
}

.border {
  width: 1px;
  height: 66px;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
}

.page {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.page > a {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.page > a:nth-child(1) {
  text-decoration: underline;
}

.navleft > .page > a:hover {
  text-decoration: underline;
}

.navright {
  display: flex;
  align-items: center;
}

.navright > a {
  border-radius: 80px;
  background: var(--green-green, #88b702);
  display: flex;
  height: 56px;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  transition: all 0.6s;
}

.navright > a:hover {
  border-radius: 80px;
  background: var(--white, #fff);
  color: var(--green-green, #88b702);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.menu {
  display: none;
}

/* aside */

aside {
  background-color: #050605;
}

.aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-bottom: 175px;
}

.asideleft {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

h1 {
  padding-top: 206px;
  color: var(--white, #fff);
  max-width: 738px;
  font-family: DM Sans;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 79.992px;
  letter-spacing: -1px;
  min-width: 341px;
}

h5 {
  max-width: 341px;
  color: var(--white, #fff);
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -1px;
  display: none;
}

.asideLeft > p {
  color: var(--white, #fff);
  max-width: 568px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  min-width: 320px;
}

.button {
  display: flex;
  flex-direction: row;
  padding-top: 42px;
  gap: 28px;
}

.button > a:nth-child(1) {
  display: flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 80px;
  background: var(--green-green, #88b702);
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
  transition: all 0.6s;
  max-width: 358px;
}

.button > a:nth-child(1):hover {
  display: inline-flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 80px;
  background: var(--white, #fff);
  color: var(--green-green, #88b702);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button > a:nth-child(2) {
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  max-width: 358px;
}

.button > a:nth-child(2):hover {
  color: var(--white, #0cc613);
  font-size: 15px;
}

.asideRight {
  display: flex;
  flex-direction: row;
  padding-top: 99px;
  z-index: 15;
}

.asideRight > img:nth-child(2) {
  display: none;
}

.vectorPng {
  position: absolute;
  top: 160px;
  right: 10px;
  filter: blur(150px);
  fill: rgba(136, 183, 2, 0.2);
}

/* section1 */

section {
  background: var(--green-bg, #050605);
}

.sectionOne {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}

.sectionOne > p {
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* section2 */

.centerBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
}

.centerBlock > p {
  color: var(--white, #fff);
  text-align: center;
  max-width: 496px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
  padding-top: 174px;
}

.main > .vectorr {
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(150px);
}

.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftTop {
  padding-left: 23px;
  padding-top: 48px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  width: 325px;
  height: 295px;
}

.leftTop > img {
  border-radius: 20px;
  background: var(--green-green, #88b702);
  display: inline-flex;
  padding: 14px 13px 13px 13px;
  justify-content: center;
  align-items: center;
}

.leftTop > ul {
  padding-top: 20px;
}

.leftTop > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.992px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.leftTop > ul > li:nth-child(2) {
  padding-top: 7px;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 279px;
}

.leftBottom {
  margin-top: 32px;
  padding-left: 23px;
  padding-top: 48px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  width: 325px;
  height: 295px;
}

.leftBottom > img {
  border-radius: 20px;
  background: var(--green-green, #88b702);
  display: inline-flex;
  padding: 14px 13px 15px 12px;
  justify-content: center;
  align-items: center;
}

.leftBottom > ul {
  padding-top: 20px;
}

.leftBottom > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.992px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.leftBottom > ul > li:nth-child(2) {
  padding-top: 7px;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 279px;
  font-family: DM Sans;
}

.cent {
  border-radius: 40px;
  background: var(--green-green, #88b702);
  max-width: 477px;
  height: 622px;
}

.cent > ul {
  padding-top: 44px;
  padding-left: 33px;
}

.cent > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cent > ul > li:nth-child(2) {
  padding-top: 22px;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 383px;
  font-family: DM Sans;
}

.cent > img {
  margin-left: 35px;
  margin-top: 41px;
}

.centImg {
  display: none;
}

.centImg > img {
  max-width: 319px;
  height: 622px;
}

.rightBl {
  display: flex;
  flex-direction: column;
}

.rightTop {
  padding-top: 48px;
  padding-left: 23px;
  border-radius: 40px;
  width: 325px;
  height: 295px;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
}

.rightTop > img {
  border-radius: 20px;
  display: inline-flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  background: var(--green-green, #88b702);
}

.rightTop > ul {
  padding-top: 20px;
}

.rightTop > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.992px; /* 144.4% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.rightTop > ul > li:nth-child(2) {
  padding-top: 7px;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 279px;
  font-family: DM Sans;
}

.rightBottom {
  margin-top: 32px;
  padding-top: 48px;
  padding-left: 23px;
  border-radius: 40px;
  width: 325px;
  height: 295px;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
}

.rightBottom > img {
  border-radius: 20px;
  display: inline-flex;
  padding: 10px 5px 11px 5px;
  justify-content: center;
  align-items: center;
  background: var(--green-green, #88b702);
}

.rightBottom > ul {
  padding-top: 20px;
}

.rightBottom > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.992px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.rightBottom > ul > li:nth-child(2) {
  padding-top: 7px;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 279px;
  font-family: DM Sans;
}

/* section3 */

.buttton {
  text-align: center;
  position: relative;
  padding-top: 48px;
}

.buttton > img {
  position: absolute;
  left: 349px;
  top: 482px;
  filter: blur(150px);
}

.buttton > a {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 80px;
  background: var(--green-green, #88b702);
  display: inline-flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
}

.buttton > a:hover {
  display: inline-flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 80px;
  background: var(--white, #fff);
  color: var(--green-green, #88b702);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.centerMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.iphoneeNone {
  display: none;
}

.leftIphone {
  padding-top: 126px;
}

.leftIphone > img:nth-child(2) {
  position: absolute;
  left: 202px;
  top: 156px;
}

.rightInfo {
  display: flex;
  flex-direction: column;
  padding-top: 202px;
}

h3 {
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
  max-width: 475px;
}

.rightInfo > p {
  padding-top: 19px;
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  max-width: 470px;
  font-family: DM Sans;
}

.rightInfo > ul {
  padding-top: 32px;
}

.rightInfo > ul > li > img {
  vertical-align: middle;
  padding: 17px;
}

.rightInfo > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.rightInfo > ul > li:nth-child(2) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.rightInfo > ul > li:nth-child(3) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

/* section4 */

.computer {
  padding-top: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 170px;
}

.leftComp {
  margin-top: 263px;
  display: flex;
  flex-direction: column;
}

.leftComp > p:nth-child(1) {
  color: var(--white, #fff);
  max-width: 475px;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
}

.leftComp > p:nth-child(2) {
  color: var(--white, #fff);
  max-width: 470px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.leftComp > ul {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 32px;
}

.leftComp > ul > li > img {
  vertical-align: middle;
  padding: 17px;
}

.leftComp > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-size: 18px;
}

.leftComp > ul > li:nth-child(2) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.leftComp > ul > li:nth-child(3) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.rightComp {
  display: flex;
  z-index: 4;
  width: 100%;
}

.rightComp > img:nth-child(2) {
  display: none;
}

/* section5 */

.color {
  background: #88b702;
}

.green {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 112px;
}

.rightGreen {
  position: absolute;
  right: 20px;
  top: -90px;
}

.noneIphone {
  display: none;
}

.leftGreen {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.leftGreen > p:nth-child(1) {
  max-width: 589px;
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
}

.leftGreen > p:nth-child(2) {
  max-width: 496px;
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.leftGreen > div a {
  border-radius: 80px;
  background: var(--white, #fff);
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--green-green, #88b702);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-flex;
  transition: all 0.5s;
  margin-bottom: 109px;
  &:hover {
    border: 1px solid white;
    background: var(--green-green, #88b702);
    color: var(--white, #fff);
  }
}

/* section6 */

.twoOpacity {
  padding-bottom: 159px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: relative;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top > div > p {
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
}

.top > div > a {
  border-radius: 80px;
  display: flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background: var(--green-green, #88b702);
}

.top > div > a:hover {
  color: var(--green-green, #88b702);
  background: var(--white, #fff);
  transition: all 0.5s;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom > .block {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 65px 50px 66px 50px;
  align-items: flex-start;
  gap: 25px;
  flex-direction: column;
}

.block > p {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  max-width: 468px;
  font-family: DM Sans;
}

.imgText {
  display: flex;
  flex-direction: row;
  column-gap: 22px;
}

.imgText > img {
  width: 58px;
  height: 58px;
  border-radius: 60%;
}

.imgText > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.imgText > ul > li:nth-child(2) {
  padding-top: 6px;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-size: 16px;
}

.rightBll {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  opacity: 0.30000001192092896;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 65px 50px 66px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.rightBll > p {
  max-width: 468px;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
}

.imgTextt > img {
  border-radius: 60%;
  width: 58px;
  height: 58px;
}

.paggination {
  padding-top: 15px;
  max-width: 100%;
  text-align: center;
}

.vectorrrr {
  position: absolute;
  top: 80px;
  left: 170px;
  filter: blur(150px);
}

/* section7 */

.videoBlock {
  padding-bottom: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftVideoText {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.leftVideoText > p:nth-child(1) {
  max-width: 475px;
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
}

.leftVideoText > p:nth-child(2) {
  color: var(--white, #fff);
  max-width: 470px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.leftVideoText > ul {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.leftVideoText > ul > li > img {
  vertical-align: middle;
}

.leftVideoText > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.leftVideoText > ul > li:nth-child(2) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.leftVideoText > ul > li:nth-child(3) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.rightVideo > iframe {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 662px;
}

/* section7 */

.boxTwo {
  display: flex;
  flex-direction: column;
  row-gap: 52px;
}

.topBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftTopB p {
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
}

.rightTopB p {
  color: var(--white, #fff);
  max-width: 461px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.bottomBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxLeft {
  position: relative;
  box-shadow: 1px 1px 20px green;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.onMac > img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.knopka {
  position: absolute;
  top: 198px;
  left: 23px;
}

.knopka > a {
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.004px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: flex;
  width: 109px;
  padding: 9px 14.158px 9px 14.358px;
  align-items: flex-start;
  border-radius: 1000px;
  background: var(--green-green, #88b702);
  font-family: DM Sans;
  transition: all 0.5s;
  &:hover {
    border-radius: 80px;
    background: var(--white, #fff);
    color: var(--green-green, #88b702);
  }
}

.onMac {
  display: flex;
  flex-direction: row;
  column-gap: 26px;
}

.boxCenter {
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 1px 1px 20px green;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.mac > .radiu {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.knopkaa {
  left: 23px;
  top: 198px;
  position: absolute;
}

.knopkaa > a {
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.004px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: flex;
  width: 109px;
  padding: 9px 14.158px 9px 14.358px;
  align-items: flex-start;
  border-radius: 1000px;
  background: var(--green-green, #88b702);
  font-family: DM Sans;
  transition: all 0.5s;
  &:hover {
    border-radius: 80px;
    background: var(--white, #fff);
    color: var(--green-green, #88b702);
  }
}

.boxRight {
  position: relative;
  box-shadow: 1px 1px 20px green;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.boxRight > .onMaccc .radius {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.knopkaaa {
  top: 198px;
  left: 23px;
  position: absolute;
}

.knopkaaa > a {
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.004px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: flex;
  width: 109px;
  padding: 9px 14.158px 9px 14.358px;
  align-items: flex-start;
  border-radius: 1000px;
  background: var(--green-green, #88b702);
  font-family: DM Sans;
  transition: all 0.5s;
  &:hover {
    border-radius: 80px;
    background: var(--white, #fff);
    color: var(--green-green, #88b702);
  }
}

.macCenter {
  background-color: grey;
  max-width: 382px;
  height: 392px;
  border-radius: 40px;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 16px;
}

.macCenter > p:nth-child(1) {
  color: var(--white, #fff);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.998px;
  max-width: 328px;
  font-family: DM Sans;
}

.macCenter > p:nth-child(2) {
  color: var(--white, #fff);
  max-width: 329px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-size: 18px;
}

.hr {
  margin-top: 39px;
  max-width: 336px;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.textImg {
  margin-right: 111px;
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.textImg > img {
  border-radius: 60%;
}

.textImg > ul {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.textImg > ul > li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.textImg > ul > li:nth-child(2) {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.greyButton {
  margin-top: 40px;
  text-align: center;
}
.greyButton a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 27px 32px;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
}

/* section8 */

.twoPhone {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  padding-bottom: 120px;
}

.topPhone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftTopP > P {
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
}

.rightTopP > p {
  max-width: 461px;
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iphone {
  width: 563px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  height: 775px;
  display: flex;
  flex-direction: column;
}

.mobileIphones {
  display: none;
  align-self: center;
}


.iphone > p:nth-child(1) {
  padding-top: 48px;
  padding-left: 48px;
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
  font-family: DM Sans;
}

.iphone > p:nth-child(2) {
  padding-top: 16px;
  padding-left: 48px;
  color: var(--white, #fff);
  max-width: 443px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.iphone > a {
  padding-top: 32px;
  padding-left: 48px;
}

.iphone > img {
  padding-top: 40px;
  align-self: center;
}



.android {
  width: 563px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  height: 775px;
  display: flex;
  flex-direction: column;
}

.android > p:nth-child(1) {
  padding-top: 48px;
  padding-left: 48px;
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.02px;
}

.android > p:nth-child(2) {
  padding-top: 16px;
  padding-left: 48px;
  color: var(--white, #fff);
  max-width: 443px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.android > a {
  padding-top: 32px;
  padding-left: 48px;
}

.android > img {
  padding-top: 40px;
  align-self: center;
}

.mobileSamsung {
  display: none;
}

/* footer */

footer {
  background-color: rgb(43, 43, 43);
}

.footer {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  row-gap: 96px;
  padding-bottom: 32px;
  padding: 56px 32px;
}

.topFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.centerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.footerLeft > p {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.992px; /* 144.4% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.footerLeft > .hrr {
  border-bottom: 1px solid var(--white, #fff);
  display: flex;
  max-width: 280px;
  padding: 0px 224px 31px 0px;
  align-items: center;
}

.footerText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
}

.footerText > ul {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.footerText > ul > li {
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.002px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.footerRight {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  display: inline-flex;
  padding: 44px 55px 44px 34px;
  align-items: center;
  flex-shrink: 0;
  height: 284px;
}

.footerRight > ul li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: DM Sans;

}

.footerRight > ul li:nth-child(2) {
  padding-top: 12px;
  color: var(--white, #fff);
  max-width: 420px ;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.footerRight > div {
  padding-top: 24px;
  display: flex;
  column-gap: 16px;
}

.bottomFooter > p {
  display: flex;
  justify-content: flex-start;
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: DM Sans;
}

.bottomFooter {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}

/* media1024 */

@media screen and (max-width: 1440px) {

  .nav {
    justify-content: space-evenly;
  }

  .aside {
    flex-direction: column;
    padding: 0px 40px;
  }

  .asideRight {
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .sectionOne {
    padding-top: 40px;
  }

  .company {
    justify-content: space-evenly;
  }

  .main {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .mainBlock {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding-bottom: 25px;
  }

  .buttton {
    justify-content: space-around;
  }

  .computer {
    flex-direction: column;
    padding: 1 px 25px;
    padding-bottom: 120px;
  }

  .leftComp{
    padding: 0 25px;
  }

  .rightComp {
    justify-content: flex-end;
    padding-top: 10px;
  }

  .green {
    flex-direction: column-reverse;
    row-gap: 45px;
  }

  .leftGreen {
    align-items: center;
  }

  .rightGreen {
    display: none;
  }

  .noneIphone {
    display: block;
  }

  .twoOpacity {
    padding: 40px 25px;
  }

  .bottom {
    column-gap: 25px;
  }

  .videoBlock {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
    padding-bottom: 40px;
  }

  .boxTwo {
    padding-top: 40px;
  }

  .topBox {
    justify-content: space-around;
  }

  .bottomBox {
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }

  .greyButton {
    padding-bottom: 40px;
  }

  .topPhone {
    justify-content: space-around;
  }

  .phone{
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }





  .centerMain {
    padding: 0 25px;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    justify-content: space-between;
  }

  .page {
    display: none;
  }

  .aside {
    flex-direction: column;
    align-items: center;
  }

  .asideLeft {
    text-align: center;
  }

  .asideLeft > p{
    padding-top: 25px;
   padding-left: 120px;
  }

  .button{
   justify-content: center;
  }

  .asideRight > img:nth-child(1) {
    display: none;
  }

  .asideRight > img:nth-child(2) {
    display: block;
  }

  .company {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .centerMain {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .vectorPng {
    display: none;
  }

  .vectorr {
    display: none;
  }
  .buttton > img {
    display: none;
  }

  .computer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .leftComp {
    padding-top: 0;
  }

  .rightComp {
    padding-top: 40px;
  }

  .leftIphone{
    display: none;
  }

  .iphoneeNone{
    display: block;
    padding-top: 80px;
  }

  
  



  .rightComp > img:nth-child(1) {
    display: none;
  }

  .rightComp > img:nth-child(2) {
    display: block;
  }

  .topBox {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }

  .topPhone {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }

  .centerFooter {
    flex-direction: column-reverse;
    row-gap: 50px;
    align-items: center;
  }

  .vectorrrr {
    display: none;
  }
  
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 15px 25px;
  }

  .navright {
    display: none;
  }

  .menu {
    display: block;
  }

  h1 {
    display: none;
  }

  h5 {
    display: block;
    padding: 25px;
  }

  .asideLeft > p {
    padding: 15px 25px;
  }

  .sectionOne {
    padding-bottom: 40px;
  }

  .centerBlock > p {
    padding: 15px 25px;
  }

  .cent {
    display: none;
  }

  .centImg {
    display: block;
  }

  .leftComp {
    padding: 0px 25px;
  }

  .leftComp > p {
    padding: 15px 0;
  }

  .leftGreen {
    padding: 0 25px;
  }

  .leftGreen > p {
    padding: 15px 0;
  }

  .twoOpacity {
    padding: 40px 25px;
  }

  .bottom {
    flex-direction: column;
    row-gap: 18px;
  }

  .videoBlock {
    padding: 40px 25px;
  }

  .leftVideoText > ul {
    align-self: center;
  }

  .rightVideo > iframe{
    max-width: 368px;
  }

  .topBox {
    padding: 40px 25px;
  }

  .topPhone {
    padding: 0px 25px;
  }

  
  .iphone{
    max-width: 358px;
    padding: 0 10px;
  }

  .iphone > img{
    max-width: 318px;
    padding-top: 20%;
  }

  .android{
    max-width: 358px;
    padding: 0 10px;
  }

  .android > img{
    max-width: 318px;
    padding-top: 20%;
  }

  .footerRight{
    max-width: 392px;
  }

  .footerRight > div > a > img{
    max-width: 150px;
  }
}

@media screen and (max-width:425px) {
  
  .container{
    padding: 0 20px;
  }

  .button{
    flex-direction: column;
    padding: 15px;
  }

  .asideRight > img{
    width: 280px;
  }

  .rightComp > img{
    width: 330px;
  }

  .top{
    flex-direction: column;
  }

  .top > div:nth-child(2){
    padding-top: 15px;
  }

  .rightVideo > iframe{
    max-width:358px ;
  }

  .bottomBox{
    padding: 40px;
  }

  .onMac > img{
    width: 280px;
  }

  .knopka{
    top: 23%;
  }

  .macCenter{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .radiu{
    width: 280px;
  }
  
  .knopkaa{
    top: 23%;
  }

  .macCenter > p{
    width: 280px;
  }

  .onMaccc > img{
    width: 280px;
  }

  .knopkaaa{
    top: 23%;
  }

  .topFooter{
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
  }

  .footerRight{
    width: 280px;
    padding-bottom: 25px;
    height: 350px;
  }

  .footerRight > div > a > img{
    width: 100px ;
  }


  .rightVideo > iframe{
    max-width: 280px;
  }

}