* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 25px;
}

nav {
  background-color: #050605;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.navleft:hover > .border {
  background-color: white;
}

.navleft > img {
  max-width: 151px;
  height: 30px;
}

.border {
  width: 1px;
  height: 66px;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
}

.page {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.page > a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.page > a:nth-child(6) {
  text-decoration: underline;
}

.navleft > .page > a:hover {
  text-decoration: underline;
}

.navright {
  display: flex;
  align-items: center;
}

.navright > a {
  border-radius: 80px;
  background: var(--green-green, #88b702);
  display: flex;
  height: 56px;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  transition: all 0.6s;
}

.navright > a:hover {
  border-radius: 80px;
  background: var(--white, #fff);
  color: var(--green-green, #88b702);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.menu {
  display: none;
}

/* section */

section {
  background-color: #050605;
}

.send {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 120px;
  position: relative;
}

.send > img{
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(150px);
}

.sendLeft {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.sendLeft > p {
  color: white;
  font-size: 66px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
}

.topSend {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}

.leftT {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.leftT > p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.leftT > input {
  border-radius: 100px;
  border: 1px solid black;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
  display: flex;
  width: 364px;
  padding: 20.5px 24.995px;
  align-items: flex-start;
  color: white;
}

.rightT {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.rightT > p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.rightT > input {
  border-radius: 100px;
  border: 1px solid var(--green-bg, #050605);
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
  display: flex;
  width: 364px;
  padding: 20.5px 24.995px;
  align-items: flex-start;
  color: white;
  z-index: 8;
}

.centerSend {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}

.centL {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.centL > p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.centL > input {
  border-radius: 100px;
  border: 1px solid black;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
  display: flex;
  width: 364px;
  padding: 20px 25px;
  align-items: flex-start;
  color: white;
}

.centR {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.centR > p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.centR > input {
  border-radius: 100px;
  border: 1px solid black;
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
  display: flex;
  width: 364px;
  padding: 20px 25px;
  align-items: flex-start;
  color: white;
  z-index: 4;
}

.bottomSend {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.bottomSend > p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bottomSend > input {
  border-radius: 14px;
  border: 1px solid var(--bg, #010725);
  background: var(--green-grey, rgba(255, 255, 255, 0.1));
  display: flex;
  width: 753px;
  height: 162px;
  padding: 20px 25px;
  align-items: flex-start;
  color: white;
}

.inputBt > input {
  color: white;
  text-align: center;
  font-size: 16px;

  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 27px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 80px;
  background: #88b702;
  transition: all, 0.5s;
  &:hover {
    color: #88b702;
    background-color: white;
  }
}

.sendRight{
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 100px;
}

.sendRight > p:nth-child(1){
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.22px;
}


.sendRight > p:nth-child(2){
  color:white;
max-width: 377px;
font-size: 18px;
font-weight: 400;
line-height: 32px;
}


.sendRight > ul > li > img{
  vertical-align: middle;
  padding-right: 15px;
}

.sendRight > ul{
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}

.sendRight > ul > li{
  color: white;
font-size: 18px;
font-weight: 500;
line-height: 29px;
}


/* section2 */

.finishSec{
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-bottom: 140px;
}

.finishSec > p:nth-child(1){
  color: white;
align-self: center;
font-size: 66px;
font-weight: 700;
line-height: 80px;
letter-spacing: -1px;
}

.oneO{
  display: flex;
  justify-content: space-around;
}

.oneO > p:nth-child(1){
  color: white;
font-size: 28px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.28px;
}

.twoO{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.td{
  display: flex;
  justify-content: space-around;
}

.td > p{
  color: white;
font-size: 28px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.28px;
}

.tb{
  display: flex;
  justify-content: space-evenly;
  
}

.tb > p{
  padding-left: 15px;
  color: var(--white, #FFF);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32.004px; 
max-width: 800px;
} 


.tc{
  display: none;
}


/* footer */

footer {
  background-color: rgb(43, 43, 43);
}

.footer {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  row-gap: 96px;
  padding-bottom: 32px;
  padding: 56px 32px;
}

.topFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.social > img:hover {
  transform: scale(2, 2);
}

.centerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.footerLeft > p {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.992px; /* 144.4% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.footerLeft > .hrr {
  border-bottom: 1px solid var(--white, #fff);
  display: flex;
  max-width: 280px;
  padding: 0px 224px 31px 0px;
  align-items: center;
}

.footerText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
}

.footerText > ul {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.footerText > ul > li {
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.002px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.footerRight {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  display: inline-flex;
  padding: 44px 55px 44px 34px;
  align-items: center;
  flex-shrink: 0;
  height: 284px;
}

.footerRight > ul li:nth-child(1) {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: DM Sans;
}

.footerRight > ul li:nth-child(2) {
  padding-top: 12px;
  color: var(--white, #fff);
  max-width: 420px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.004px;
  font-family: DM Sans;
}

.footerRight > div {
  padding-top: 24px;
  display: flex;
  column-gap: 16px;
}

.bottomFooter > p {
  display: flex;
  justify-content: flex-start;
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: DM Sans;
}

.bottomFooter {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}


/* media */

@media screen and (max-width:1440px) {
  .send{
    flex-direction: column;
    align-items: center;
  }

  .td > img{
    display: none;
  }

  .tc{
    display: block;
  }

  .tb{
    display: none;
  }
  
}

@media screen and (max-width:1024px) {
  .nav {
    justify-content: space-between;
  }

  .page {
    display: none;
  }

  
  .centerFooter {
    flex-direction: column-reverse;
    row-gap: 50px;
    align-items: center;
  }
}

@media screen and (max-width:768px) {
  
  .sendLeft{
    align-items: center;
  }

  .topSend{
    flex-direction: column;
    row-gap: 28px;
    text-align: center;
  }

  .centerSend{
    flex-direction: column;
    row-gap: 28px;
    text-align: center;
  }
  
  .bottomSend{
    text-align: center;
  }

  .bottomSend > input{
    max-width: 400px;
  }

  .navright {
    display: none;
  }


  .menu {
    display: block;
  }


  .mainn > img{
    display: block;
    width: 100%;
  }

  .footerRight{
    max-width: 392px;
  }

  .footerRight > div > a > img{
    max-width: 150px;
  }

  .topFooter{
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
  }
  
 
}

@media screen and (max-width:425px) {
  .bottomSend > input{
    width: 280px;
  }

  .centL > input{
    width: 280px;
  }

  .centR > input{
    width: 280px;
  }

  .leftT > input{
    width: 280px;
  }

  .rightT > input{
    width: 280px;
  }

  .footerRight{
    width: 280px;
    padding-bottom: 25px;
    height: 350px;
  }

  .footerRight > div > a > img{
    width: 100px ;
  }
}